docs_dir: source
site_name: TinyFFR Manual
site_url: https://tinyffr.dev
site_dir: output
repo_url: https://github.com/Egodystonic/TinyFFR
edit_uri: Documentation/source/
site_description: "Manual & Instructions for TinyFFR (Tiny Fixed Function Renderer C# .NET Library)"
site_author: "Egodystonic / Ben Bowen"
copyright: "(c) 2025 Egodystonic / Ben Bowen"
extra_css:
  - stylesheets/additional_styles.css
watch:
  - includes
  - theme_overrides

markdown_extensions:
  - abbr
  - attr_list
  - admonition
  - def_list
  - footnotes
  - md_in_html
  - tables
  - pymdownx.betterem
  - pymdownx.blocks.caption
  - pymdownx.caret:
      smart_insert: false
  - pymdownx.details
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.highlight:
      use_pygments: true
      pygments_lang_class: true
      linenums_style: pymdownx-inline
      anchor_linenums: true
      line_spans: __span
  - pymdownx.inlinehilite
  - pymdownx.superfences 
  - pymdownx.snippets:
      auto_append:
        - includes/acronym_definitions.md
      check_paths: true
  - pymdownx.tabbed:
      alternate_style: true
  - toc:
      permalink: "#"
      title: Page Contents
      toc_depth: 3

extra:
  social:
    - icon: octicons/history-16
      link: https://tinyffr.dev/archive/
      name: Archived Documentation
    - icon: fontawesome/brands/github
      link: https://github.com/Egodystonic/TinyFFR
      name: Source Code
    - icon: fontawesome/solid/comments
      link: https://github.com/Egodystonic/TinyFFR/discussions
      name: Discussions

theme:
  name: material
  logo: logo.png
  favicon: logo.png
  custom_dir: theme_overrides
  icon:
    annotation: material/message-question
  features:
    - navigation.instant
    - navigation.sections
    - navigation.path
    - navigation.indexes
    - navigation.footer
    - search.suggest
    - search.highlight
    - content.tooltips
    - content.code.annotate
    - content.code.copy


  font:
    code: Source Code Pro

  palette:
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: custom
      toggle:
        icon: material/lightbulb-outline
        name: Switch to light mode

    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: custom
      toggle:
        icon: material/lightbulb
        name: Switch to dark mode

plugins:
  - search
  - meta

validation:
  omitted_files: warn
  absolute_links: relative_to_docs
  unrecognized_links: warn
  anchors: warn
strict: true

nav:
  - index.md
  - changelog.md
  - Tutorials:
    - Fundamentals:
      - tutorials/hello_cube.md
      - tutorials/loading_assets.md
      - tutorials/handling_input.md
    - Advanced:
      - tutorials/materials.md
      - tutorials/lighting.md
      - tutorials/input.md
      - tutorials/meshes.md
      - tutorials/scenes_and_rendering.md
      - tutorials/displays_and_windows.md
      - tutorials/math_and_geometry.md
      - tutorials/conventions.md
      - tutorials/resources.md
      - tutorials/factory.md
    - UI Integration:
      - tutorials/integrating_wpf.md
      - tutorials/integrating_avalonia.md
      - tutorials/integrating_winforms.md
  - Reference Docs:
    - How-To Guides:
      - reference/vsync.md
      - reference/controlling_memory.md
    - Assets:
      - reference/texture_patterns.md
    - Utils:
      - reference/indirect_enumerable.md

not_in_nav: |
  tutorials/index.md
  reference/index.md
